html{
    height: 100%;
}
body{
	color : 2e2e2e;
	margin : 0px;
	padding : 0px;
	font-size: 14px;
	font-family: Calibri,sans-serif;
    background-color: #e4e4e4;
    height: 100%;
}
#content{
    width: 960px;
    position: relative;
    top:140px;
    margin: 0 auto;
    overflow: hidden;

}
#off-set{
    width:100%;
    height: 20px;
    background-color: #303F9F ;
}
header{
    width: 100%;
    position: fixed;
    color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 10;
}
#cont-nav{
    width: 100%;
    padding-top: 20px;
    
}
#main-nav{ 
    background-color: #3F51B5;
    height: 60px; 
}
#search-btn{
    float: right; 
    margin-top: -70px;
    margin-right: 20px;
    
}
#menu-btn{
    margin-left: 10px;
    float: left;
    margin-top: -10px;
    
}
#page-title{
    text-align: center;
    margin-top: -60px;

    height: auto;
    font-family: Avenir Next;
    font-size: 20px;
}

#content a{
    color: black;
    text-decoration: none;
}
.post{
    width: 306px;
    height: 350px;
    float: left;
    background-color: white;
    margin-top: 40px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    overflow: hidden;
    border-radius: 5px;
    

}
.post:hover{
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.40), 0 2px 5px 0 rgba(0, 0, 0, 0.50);
}
#hero-head:hover{
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.40), 0 2px 5px 0 rgba(0, 0, 0, 0.50);
}
.posthead{
    color: yellow;
}
#hero-head{
    width: 960px;
    height: 350px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    
}
a{
    color: white;
    text-decoration: none;  
}
#sidebar{
    position: fixed;
    top:0px;
    width: 200px;
    left:-200px;
    height: 100%;
    z-index: 1000;
    background-color: #D0725B;
    text-align: center;
    font-family: heiti TC;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 24px;
}
#sidebar ul{
   
}
#sidebar li{
    display: block;
    background-color: rgba(0,0,0,0.26);
    list-style-type: none;
    padding: 10px;
    border: 0px solid rgba(0,0,0,0.26);
    margin-top: 10px;
     margin-left: -20px;
    margin-right: 10px;
}
#sidebar h3{
    
    font-size: 36px;
    height: 40px;
}
#tech{
    color: rgba(0,0,0,0.40);
}
#down{
    color : rgba(0,0,0,0.80);
}
#search-form{
    height: 25px;
    box -radius: 6px;
    display: none;
}
#search-form input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0px solid #000;
    font-size: 18px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}
#search-btn img{
    
}
#sidebar a{
    color: black; 
}
#sidebar li:hover{
    background-color: white;
    
}
.main-post{
    height: 48%;
    overflow: hidden;
    position: relative;
    left: 10px;
    top: 10px;
    width: 90%;
}
.post-det{
    float: right;
    color: rgba(0,0,0,0.61);
    font-size: 18px;
    position: relative;
    bottom: 0px;
    //border-top: 1px solid #76787D;
    display: block;
    background-color: white;
    width: 100%;
}
.postCover{
    height: 45%;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.coverHead{
    position: relative;
    top: 45%;
    text-align: center;
    z-index: 5;
    margin: 0px;
}
.heroCover{
    width: 50%;
    float: left;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.0);
}
.mainHero{
    width: 45%;
    float: right;
    height: 95%;
}
.heroDet{
    clear: right;
    position: relative;
    bottom: 5px;
    left: 10px;
}
footer{
    background-color: #333;
    height: 500px;
    position: relative;
    top: 200px;
    color: rgba(256,256,256,0.7);
    padding: 25px;
}
footer h3{
    font-size: 28px;
}
#creator{
    float: right;
    width: 30%;
    position: relative;
    top: -250px;
}
#wrapper{
    height: 100%;
}
#company-logo{
    width: 160px;
    margin: 0 auto;
}
#head-logo{
    position: relative;
    top: 10px;
}
#post-time{
    position: relative;
    left: 10px;
}
#body{
    width: 95%;
    position : relative;
    left: 10px;
}