{% extends 'base.html' %}  
{% block title %}gargNotes{% endblock %}
{% load staticfiles %}
{% block stat %}
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
{% endblock %}
{% block js %}
    var color = ['#ED45AF','#DC4CEF','#6DF2EB','#75EDCB'];
    $('.post h2').each(function(){
        var x =Math.floor(Math.random()*5);
        var col =color[x];
        $(this).css('color',col);
     });//end each
 
{% endblock %}
{% block heading %}
    gar<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="60px" height="60px" viewBox="0 0 82 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" id="head-logo">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>Rectangle 1 + N + g</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Rectangle-1-+-N-+-g" sketch:type="MSLayerGroup" transform="translate(1.000000, -6.000000)">
            <rect id="Rectangle-1" stroke="#4990E2" stroke-width="0.2" fill="#2D70B3" sketch:type="MSShapeGroup" x="0" y="7" width="80" height="80" rx="8"></rect>
            <text id="N" sketch:type="MSTextLayer" font-family="Avenir Next" font-size="48" font-weight="bold" fill="#4A4A4A">
                <tspan x="40" y="60">N</tspan>
            </text>
            <text id="g" sketch:type="MSTextLayer" font-family="Avenir Next" font-size="64" font-weight="bold" fill="#FFFFFF">
                <tspan x="0" y="64">g</tspan>
            </text>
        </g>
    </g>
</svg><span id="down">otes</span>  
{% endblock %}
{% block content %}
    <a href="{{hero.get_absolute_url}}">
        <div id="hero-head">
            <div class="heroCover">
                {% if hero.images != "xxx" %}
                    {%with 'images/postimages/'|add:hero.images as himage %}
                     <img class="postImg" src="{% static himage %}" alt="{{hero.title}}" style="max-width:100%;">
                    {% endwith %}
                {% else %}
                    <h2 class="coverHead">{{hero.title}}</h2>
                {% endif %}
            </div>
            <div class="mainHero">
                <h2 class="hero-head">{{hero.title}}</h2>
                <p class="postTime">
                    <time datetime = "{{hero.created|date:"c"}}">
		              {{hero.created|date}}
		            </time>
		        </p>
                <p>{{hero.description}}</p>
            </div>
            <div class="heroDet">
                <img style="margin-right:5px;margin-left:5px" src="{%static 'images/heart.png'%}" alt="No. of Likes">{{hero.likes}}
                <img style="margin-right : 5px;margin-left:5px;" src="{%static 'images/view.png'%}" alt="No. of Views">{{hero.views}}
            </div>
        </div>
    </a>
	{% for post in posts %}
	   <a href="{{post.get_absolute_url}}">
	   <div class="post">
            <div class="postCover">
                {% if post.images != "xxx" %}
                    {%with 'images/postimages/'|add:post.images as image_static %}
                    <img class="postImg"src="{% static image_static %}" alt="{{post.title}}" style="max-width:100%;">
                    {% endwith %}
                {% else %}
                    <h2 class="coverHead">{{post.title}}</h2>
                {% endif %}
            </div>
            <div class="main-post">
		        <h2 class="postHead">{{post.title}}</h2>
		         <p class="postDesc">{{post.description}}</p>
            </div>
            <div class="post-det">
                <img style="margin-right:5px;margin-left:5px" src="{%static 'images/heart.png'%}" alt="No. of likes">{{post.likes}}
                <img style="margin-left: 5px;margin-right:5px;" src="{%static 'images/view.png'%}" alt="No. of views">{{post.views}}
            </div>
    	</div>
	   </a>
	{% endfor %}
{% endblock %}