{% extends 'base.html' %}
{% load staticfiles %}
{% block stat %}
<link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/post.css" %}">
<meta name="description" content="{{post.description}}">
{% endblock %}
{% block js %}
var hei = $(body).height();
var hei = hei-600
$(window).scroll(function(){
                        
                        var scr = $(this).scrollTop()
                        console.log(scr)
                        if(scr>hei)
                        {
                            $('#author').fadeOut();
                            
                            
                        }
                        else
                        {
                            $('#author').fadeIn();
                        }
                        
                    });

{% endblock %}
{% block title %}{{post.title}}{% endblock %}
{% block heading %} {{post.title}} {%endblock%}
{% block post-home %}<a href="{% url 'index' %}"><h2>gargNotes</h2></a>{% endblock %}
    {% block content %}
    <div class="post">
        <div>
            {% if post.images != "xxx" %}
            {%with 'images/postimages/'|add:post.images as image_static %}
            <img src="{% static image_static %}" alt="{{post.title}}" style="max-width:100%;">
            {% endwith %}
            {% endif %}
            <h1 id="Heading"> {{post.title}} </h1>
            <div id="post-time">
            <p>
                Posted on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
                <div class="fb-share-button" data-href="{{post.get_absolute_url}}" data-layout="button_count"></div>
            </p>
            </div>
        </div>
        <div id="body">
        {{post.content|safe}}
        </div>
    </div>
    <div id="author">
    <h5>Written By:</h5>
        <ul>
            <li>{{post.publisher}}</li>
            <li style="font-size:12px;">{{post.created|date}}</li>
        </ul>
        <ul>
            <ul id="share">
                        <li><a href="http://www.facebook.com/sharer/sharer.php?u={{post.get_absolute_url}}" target="_blank"><img src="{% static 'images/fac-but.png'%}" alt="Share on facebook"></a>
                        <li><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{post.title}}%20{{post.get_absolute_url}}" target="_blank"><img src="{% static 'images/twi-but.png'%}" alt="Share on twitter"></a>
            </ul>
    </div>
    {% endblock %}