{% extends 'base.html' %}
{% load staticfiles %}
{% block stat %}
<link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/post.css" %}">
{% endblock %}
    {% block title %}{{post.title}}{% endblock %}
{% block heading %} {{post.title}} {%endblock%}
{% block post-home %}<a href="{% url 'index' %}"><h2>gargNotes</h2></a>{% endblock %}
    {% block content %}
    <div class="post">
        <div>
            {% if post.images != "xxx" %}
            {%with 'images/'|add:post.images as image_static %}
            <img src="{% static image_static %}" alt="{{post.title}}" style="max-width:100%;">
            {% endwith %}
            {% endif %}
            <h1 id="Heading"> {{post.title}} </h1>
            <div id="post-time">
            <p>
                Posted on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
                <div class="fb-share-button" data-href="{{post.get_absolute_url}}" data-layout="button_count"></div>
            </p>
            </div>
        </div>
        <div id="body">
        {{post.content|safe}}
        </div>
    </div>
    {% endblock %}